@import "tailwindcss";

@theme {
  --color-premiumBlack: #050505;
  --color-silverWhite: #F5F5F7;
  --color-metallicSilver: #8E8E93;
  --color-warmBeige: #D6CFC7;
}

body {
  background-color: var(--color-premiumBlack);
  color: var(--color-silverWhite);
}

.bg-grid {
  background-size: 60px 60px;
  background-image: 
    linear-gradient(to right, rgba(142, 142, 147, 0.08) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(142, 142, 147, 0.08) 1px, transparent 1px);
}